/*global custom only je version*/

/*typography*/

.gcm_head_I{
    font-size: var(--text-h1);
    color:var(--secondary);
    font-weight: 600;
    line-height:var(--text-line-h);
}

.gcm_head_I_center{
    font-size: var(--text-h1);
    color:var(--secondary);
    font-weight: 600;
    line-height:var(--text-line-h);
    text-align: center;
}

.gcm_head_I_center_y{
    font-size: var(--text-h1);
    color:var(--primary);
    font-weight: 600;
    text-align: center;
}

.gcm_head_I_center_w{
    font-size: var(--text-h1);
    color:var(--light);
    font-weight: 600;
    line-height:var(--text-line-h);
    text-align: center;
}

.gcm_head_I_center_add_to_q{
    font-size: var(--big-text);
    color:var(--light);
    font-weight: 600;
    text-align: center;
}

.gcm_head_II{
    font-size: var(--text-h2);
    color:var(--secondary);
    font-weight: 600;
    line-height:var(--text-line-h);
}


.gcm_head_IV_w{
    font-size: var(--text-h4);
    color:var(--light);
    font-weight: 600;
    
}

.add_to_q_text{
    font-size: var(--text-h4);
    color:var(--secondary);
    font-weight:600;
}

.gcm_text{
    font-size: var(--text-p);
    color:var(--secondary);
    font-weight:600;
    line-height:27px;
}

.gcm_text_q{
    font-size: var(--text-h4);
    color:var(--secondary);
    font-weight:600;
    line-height:27px;
    text-align: center;
}

.gcm_sub_text{
    font-size: var(--text-h4);
    line-height:27px;
    text-align:center;
    text-transform: capitalize;
    font-weight:600;
    
}

.gcm_sub_text_w{
    font-size: var(--text-h4);
    line-height:27px;
    text-align:center;
    text-transform: capitalize;
    font-weight:600;
    color:var(--light);
    
}

.gcm_sub_text_y{
    font-size: var(--text-h4);
    line-height:27px;
    text-align:center;
    text-transform: capitalize;
    font-weight:600;
    color:var(--primary);
    
}


.gcm_text_I{
    font-size: var(--text-p);
    color:var(--secondary);
    line-height:27px;
    text-align:center;
}


.gcm_text_I_w{
    font-size: var(--text-p);
    color:var(--light);
    line-height:27px;
    text-align:center;
}

.gcm_text_I_w_left{
    font-size: var(--text-p);
    color:var(--light);
    line-height:27px;
    text-align:left;
}

.gcm_text_sm{
    width:1000px;
    max-width:100%;
    margin:auto;
}

.gcm_text_sm_w{
    width:700px;
    max-width:100%;
    margin:auto;
}

.text-center{
    text-align: left;
}

/*color only*/
.indi-color{
    color:#ffd200;
}

/*spaces*/
.big-space{
    padding-top:var(--big-space);
    padding-bottom:var(--big-space);
}

/*button*/


.basel-navigation .menu>li.callto-btn>a{
    line-height: 24px !important;
    background-color:var(--secondary) !important;
    border-radius:10px;
    border: 3px solid #292929;
    color:var(--primary) !important;
}


.basel-navigation .menu>li.callto-btn>a:hover{
    line-height: 24px !important;
    background-color:transparent !important;
    border-radius:10px;
    border: 3px solid #292929;
    color:var(--secondary) !important;
    opacity:1 !important;
}


.main-nav .menu>li>a{
    color:var(--secondary) !important;
}



.basel-navigation .menu>li.callto-btn.current-menu-item>a{
    color:var(--primary);
}

#btn.gcm_btn_text_yellow {
    font-size: 16px;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 25px;
    padding-right: 25px;
    width:100%!important;
    background-color:var(--secondary);
    height:53px;
    color:var(--primary);
    border-radius:10px;
    border: 3px solid #292929;
    font-weight: 500;
}


#btn.gcm_btn {
    font-size: 16px;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 25px;
    padding-right: 25px;
    width:100%!important;
    background-color:var(--secondary);
    height:53px;
    color:var(--light);
    border-radius:10px;
    border: 3px solid #292929;
    font-weight: 500;
}


#btn_outline{
    font-size: 16px;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 25px;
    padding-right: 25px;
    width:100%!important;
    background-color:transparent;
    height:53px;
    color:var(--light);
    border: 3px solid #292929;
    border-radius:10px;
    color:var(--secondary);
    font-weight: 500;
    
}

#btn_yellow{
    font-size: 16px;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 25px;
    padding-right: 25px;
    width:100%!important;
    background-color:var(--primary);
    height:53px;
    color:var(--light);
    border: 3px solid var(--primary);
    border-radius:10px;
    color:var(--secondary);
    font-weight: 500;
}

#btn_outline a {
font-weight: 500;
}

/*START OF HOME SECTION*/

/* Menu section */

.header-full-width .main-header>.container {
    width: 1366px !important;
    max-width: 100%;
}
.main-nav .menu>li>a{
    font-weight: 500;
    font-size: var(--menu-font) !important;   
}


.main-nav .menu > li > a:hover {
    color:var(--secondary) !important;
}


/*banner*/
.gcm_banner_home>.wpb_column {
    height:100vh;
    max-height: 100%;
    max-width: var(--max-width);
    margin:auto;
    padding: 0px 15px 0px 15px;
    
}


.see_btn{
    grid-area: 1;
}

.contact_btn{
    grid-area: 2;
}

.gcm_col{
    padding-bottom:15%;
}

.gcm_sep{
    padding-top:29px;
    display: grid;
    grid-template-columns:auto;
    grid-template-areas:"1 1 2 2 ";
    grid-gap: 10px;
    justify-content: start;
   
} 


/*banner background*/
.gcm_banner_home{
        background-image: url(http://localhost/guerillacreative/wp-content/uploads/2022/01/new-small-logo.png) !important;
        background-position: center !important;
        background-position-x: center !important;
        background-position-y: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        padding: 10px;
        border-bottom-left-radius: var(--radius-banner);
        
    }


/* Section two    */

.section-height{
    padding-top:130px;
    padding-bottom:130px;
}

.btn_center{
    text-align: center;
    padding-top:65px;
}

.btn_left{
    text-align: left;
    padding-top:65px;
}


/* get a quote home */
.get-a-q >.wpb_column{
    height:61.5vh;
    max-height: 100%;
    margin:auto;
    max-width: var(--max-width); 
}

.gcm_des-sec1{
    /* grid-area: 1; */
    letter-spacing: 7px;
}

.gcm_des-sec2{
    /* grid-area: 2; */
    letter-spacing: 7px;
}

.sec_1_row{
    display:flex;
    grid-template-columns:auto;
    grid-template-areas:"1 2";
    grid-gap: var(--grid-gap-q);
    justify-content: center;
    margin-bottom: -60px;
    
}


.section-let-us-help{
    background-image: url(http://localhost/guerillacreative/wp-content/uploads/2022/01/Flyer-3.png) !important;
    background-position: center !important;
    background-position-x: center !important;
    background-position-y: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding: 10px;
    border-bottom-left-radius: var(--radius-banner);
    height:66.6vh;
    max-height:100%;
}


/*end of home page*/

/*about us*/

.left-about-section{
    height:718px;
    max-height:100%;
}


/*banner*/
.gcm_banner_company>.wpb_column {
    height:79.7vh;
    max-height: 100%;
    max-width: var(--max-width);
    margin:auto;
    padding: 0px 15px 0px 15px;
    
}

/*banner background*/
.gcm_banner_company{
    background-image: url(http://localhost/guerillacreative/wp-content/uploads/2022/01/Group-about-company.png) !important;
    background-position: center !important;
    background-position-x: center !important;
    background-position-y: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
   
    
}

.about-we-believe{
    padding-right:50px;
}


/*END of about us section*/

/*CONTACT US SECTION*/

.gcm_banner_contact>.wpb_column {
    height:51vh;
    max-height: 100%;
    max-width: var(--max-width);
    margin:auto;
    padding: 0px 15px 0px 15px;
    
}

.gcm_banner_contact{
    background-image: url(http://localhost/guerillacreative/wp-content/uploads/2022/01/Group-111.png) !important;
    background-position: center !important;
    background-position-x: center !important;
    background-position-y: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
   
    
}

form .wpcf7-list-item {
    font-weight: 400;
    display: block;
}

input[type=submit].btn-color-primary {
    color: #000;
    font-weight:600;
}

/*END OF CONTACT US SECTION*/

/*footer section*/
h1.gcm_head_I_foo{
    font-size: var(--text-h1);
    color:var(--secondary);
    font-weight: 600;
    line-height:var(--text-line-h);
}

p.gcm_text_foo{
    font-size: var(--text-p);
    color:var(--secondary) !important;
    font-weight:600;
    line-height:27px;
}

.footer-container.color-scheme-light a{
    color:var(--secondary) !important;
    font-weight: 600;
}


h3.gcm_head_III_foo{
    font-size: var(--text-h2);
    color:var(--secondary);
    font-weight: 600;
    line-height:var(--text-line-h);
}

p#foo-copy {
    color: var(--secondary);
    font-weight: 600;
}

.footer-container.color-scheme-light .main-footer+.copyrights-wrapper .min-footer {
    border-top: 1px solid rgb(8 8 8);
}


.col.icon-foo-1 {
    display: inline-grid;
    grid-gap: 10px;
    margin: 0px 10px;
}

.footer-container{
    border-top: 14px solid #FFC700;
}

/*END OF FOOTER SECTION*/

/*  */
